html,body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {  
	margin: 0;  
	padding: 0;
	border: 0; 
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;} 


ol, ul {list-style: none;}

* {
	margin: 0;
	padding: 0;
	outline: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


.cleaerfix:before,
.clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{ clear: both;}

.left {float: left;}
.right {float: right;}
.text-right {text-align: right;}
.text-left {text-align: left;}


html {height: 100%;}
body {
	height: 100%;
	margin: 0 auto;
	text-align: center;
	width: 100%; 
	max-width: 1900px;
}

ol, ul {list-style: none;}

* {
	margin: 0;
	padding: 0;
	outline: 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

@font-face {
	font-family: "DejaVuSansCondensed-Bold";
	src: url("../fonts/DejaVuSans/DejaVuSansCondensed-Bold.ttf");
	
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "DejaVuSansBook";
	src: url("../fonts/DejaVuSans/DejaVuSans.ttf");
	
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "DejaVuSansCondensed";
	src: url("../fonts/DejaVuSans/DejaVuSansCondensed.ttf");
	
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: "Arsenal-BoldItalic";
	src: url("../fonts/Arsenal/Arsenal-BoldItalic.otf");
	
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Arsenal-Bold";
	src: url("../fonts/Arsenal/Arsenal-Bold.otf");
	
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Arsenal-Regular";
	src: url("../fonts/Arsenal/Arsenal-Regular.otf");
	
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Arsenal-Italic";
	src: url("../fonts/Arsenal/Arsenal-Italic.otf");
	
	font-style: normal;
	font-weight: normal;
}



/*................POpup  ................*/

#popup {
	width: 500px;
	height: 450px;
	background: url(form_bg.jpg);
	position: fixed;
	z-index: 99999;
	top: 60%;
	left: 50%;
	margin-left: -250px;
	margin-top: -350px;
	display: none;
}

#hover {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99998;
	display: none;
	cursor: pointer;


}

form img {
	position: absolute;
	display: block;
	height: 400px;
	width: auto;
	margin: 26px -278px;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

/*................POpup  ................*/



/*................POpup2 для организаций  ................*/

#popup2 {
	width: 331px;
	height: 378px;
	background-color: rgba(29,25,22,.9);
	z-index: 0;
	top: 89%;
	left: 77%;
	margin-left: -250px;
	margin-top: -350px;
	position: absolute;
}

#popup2 h2 {
	font: 24px/25px "Arsenal-Regular", Arial !important; 
	margin-top: 22px;
	padding-top: 0px !important;
	margin-bottom: 20px;
	font-weight: 700;

}

#hover {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99998;
	display: none;
	cursor: pointer;


}

form img {
	position: absolute;
	display: block;
	height: 400px;
	width: auto;
	margin: 26px -278px;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

/*................POpup  ................*/






/*.....Header........*/

#section1 {
	height: 205px;
	max-width: 2000px;
	width: 100%;
	background: url(../img6_organization/top_layer.jpg) no-repeat;
	position: relative;
}




#navigation_fixed {
	text-align: center;
	height: 107px;
	background: rgba(100, 64, 44, 0.45) none repeat scroll 0% 0%;
	z-index: 1111111;
	position: absolute;
	width: 100%;
	top: 0px;
	right: 3px;
}

/*
#navigation_fixed.default {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0%;
	background: rgba(228,228,288,.45);
	z-index: 11;
}
*/

.middle_block {
	margin: 0 auto;
	max-width: 1200px;
	height: 107px;
	position: relative;


}

.top_parth {
	height: 66px;

}

.furniture {
	width: 418px;
	position: absolute;
	margin-top: 12px;
}

.furniture h4 {
	font: 2.2em "DejaVuSansCondensed-Bold", Arial, sans-serif;
	color: #fff;
	text-align: left;
}

.call_us {
	width: 494px;	
	height: 66px;
	position: absolute;
	right: 0;

}

.phone_call_2 {
	float: left;
	padding-top: 14px;
}

.phone_call_2 h3 {
	font: 25px "DejaVuSansCondensed-Bold", Arial, sans-serif;
	color: #fff;
	display: inline-block;
	position: absolute;
	margin-top: 7px;


}



.phone_call_2 img {
	display: inline-block;
	margin-right: 3px;
	margin-top: 2px;
}

.call_us .action4 {
	margin: 0px 0px;
	display: inline-block;
	padding-left: 14px;
	margin-left: 224px;
}



.call_us .action4 .btn4_1 {
	padding: 3px 24px;
	display: inline-block;
	cursor: pointer;
	border: 2px solid #FFF;
	text-decoration: none;
	font: 18px "DejaVuSansCondensed-Bold";
	color: #FFF;
	float: left;
	margin-bottom: 7px;
}

.call_us .action4 .btn4_1:hover {
	background: rgba(255,255,255,.3);

}


.bottom_parth {
	height: 44px;
	

}

.bottom_parth li {
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 20px;
}

.bottom_parth li:last-child {
	padding-right: 0px;

}

.bottom_parth li a {
	font: 1.2em "DejaVuSansCondensed-Bold";
	color: #fff;
	text-decoration: none;
	padding-bottom: 13px;

}

.bottom_parth li a:hover {
	border-bottom: 5px solid #fff;
}

.container2 h1 {
	color: #FFF; 
	position: relative;
	font: 2.9em "DejaVuSansCondensed-Bold",Arial;
	padding: 20%;




} 

.menu-trigger {
	display: none;
	cursor: pointer;
	font: 1.2em "DejaVuSansCondensed-Bold";
	color: #FFF;
	text-decoration: none;
	padding-bottom: 13px;
}

.menu-trigger-stiky {
	display: none;
	cursor: pointer;
	font: 1.2em "DejaVuSansCondensed-Bold";
	color: #FFF;
	text-decoration: none;
	padding-bottom: 13px;
}



/*.............ХЭДэр............ПЕрвичная секция .............*/



/*.......МЕНЮЩКА появляющаяся....*/




#stiky_nav.default {

	position: fixed;
	z-index: 1000;
	display: block;
	margin: 0 auto;


}

#stiky_nav {
	max-width: 1899px;
	background: rgba(100, 64, 44, 0.9) none repeat scroll 0% 0%;
	height: 41px;
	position: absolute;
	top: 0px;
	display: none;
	width: 100%;

}


.middle_block_stiky {
	margin: 0 auto;
	width: 100%;
	max-width: 1113px;
	height: 107px;


}



.bottom_parth_stiky {
	margin-top: 10px;
	height: 19px;
	margin-left: 10px;

}

.bottom_parth_stiky li {

	padding-right: 22px;
	padding-bottom: 20px;
	display: inline-block;
}


.bottom_parth_stiky li:last-child {
	padding-right: 0px;
}




.bottom_parth_stiky li a {
	font:  16px "DejaVuSansCondensed-Bold";
	color: #fff;
	text-decoration: none;
	padding-bottom: 7px;

}

.bottom_parth_stiky li a:hover {
	border-bottom: 3px solid #fff;
}



/*.......МЕНЮЩКА появляющаяся....*/






.divider {
	height: 99px;
	width: 100%;
	background: #473421;
	position: absolute;
	bottom: 0;
}


.divider h1 {
	font: 50px "DejaVuSansCondensed-Bold", Arial, sans-serif;
	color: #fff;
	margin-top: 14px;

}





#section2 {
	height: 770px;
	background: url(../img6_organization/first_bg.jpg) fixed;
	background-size: cover;
	
	background-repeat: no-repeat;
	position: relative;
}



#section2 h1 {
	font: 50px "DejaVuSansCondensed-Bold", Arial, sans-serif;
	color: #fff;
	padding-top: 60px;

}


#section2 h2 {
	font: 30px "DejaVuSansCondensed", Arial, sans-serif;
	color: #fff;
	padding-top: 30px;

}


#section3 p {

	font: 18px "Arsenal-Regular"; 
	margin-top: 30px;

}

#container3 {
	margin: 0px auto;
	width: 100%;
	max-width: 1113px;
	text-align: center;
	position: relative;
	height: 80%;
}



.top_descr {
	height: 55px;
	border-bottom: 1px solid #486c61;
	margin-top: 50px;

}

.top_descr h2 {
	font: 40px "Arsenal-Bold";
	color: #053627;
	padding-top: -23px;
	padding-bottom: 5px;
	text-align: left;
}


.block_wrap {
	margin-top: 40px;
}

.block_material {
	width: 150px;
	height: 294px;
	display: block;
	margin-right: 8px;
	display: inline-block;
	overflow: hidden;
}

.block_material p {
	font: 20px/30px "Arsenal-Regular";
	color: #053627;
	text-align: center;
	margin-top: 15px !important;
}





#bg2 {
	height: 350px;
	background: url(../img6_organization/bg2.jpg) fixed no-repeat;
	background-size: cover;
}



#container5 {
	margin: 0px auto;
	width: 100%;
	max-width: 1113px;
	text-align: center;
	position: relative;
	height: 80%;
}




.top_descr2 {
	height: 55px;
	border-bottom: 1px solid #486c61;
	margin-top: 50px;

}

.top_descr2 h2 {
	font: 40px "Arsenal-Bold";
	color: #053627;
	padding-top: -23px;
	padding-bottom: 5px;
	text-align: left;
}


.block_assortiment {
	margin-top: 30px;
}

.block_assort {
	display: inline-block;
	width: 33%;
	text-align: left;

}

.block_assort li {

	font: 20px/25px "Arsenal-BoldItalic", Arial;

}


.font1 {

	font: 30px/25px "Arsenal-BoldItalic", Arial;
	color: #053627;
	margin-top: 110px;

}

.provide_block1, .provide_block2 {
	display: inline-block;
	width: 49%;

}


.provide_block1  {
	text-align: right;
	padding-right: 4%
}

.provide_block2 {
	text-align: left;
	padding-left: 4%
}

.middle_provide_block {
	display: inline-block;
	width: 22%;
	padding: 1px 12px;
}


.provide_block1 h3 {
	font: 20px/20px "Arsenal-BoldItalic", Arial;
	color: #053627;
	margin-top: 40px;
}



.provide_block1 p {
	font: 16px/20px "Arsenal-Regular";
	color: #000;
	margin-top: 10px;

}

.provide_block2 h3 {
	font: 20px/20px "Arsenal-BoldItalic", Arial;
	color: #053627;
	margin-top: 40px;
}



.provide_block2 p {
	font: 16px/20px "Arsenal-Regular";
	color: #000;
	margin-top: 10px;

}


.provide_block_text1 {
	display: inline-block;
	width: 70%;
}
.ic1 {
	height: 76px;
	width: 75px;
	margin-left: 13px;
	
	position: relative;
	display: inline-block;
	
}


.provide_block_text2 {
	display: inline-block;
	width: 70%;
}

.ic2 {
	height: 76px;
	width: 75px;
	margin-right: 13px;
	
	position: relative;
	display: inline-block;
	
}


.font2 {

	font: 30px/25px "Arsenal-BoldItalic", Arial;
	color: #053627;
	margin-top: 70px;

}

.recl {
	font: 18px "Arsenal-Regular";
	margin-top: 80px;
}


.top_descr3 {
	height: 55px;
	border-bottom: 1px solid #486c61;
	margin-top: 50px;

}

.top_descr3 h2 {
	font: 40px "Arsenal-Bold";
	color: #053627;
	padding-top: -23px;
	padding-bottom: 5px;
	text-align: left;
}


.price_wrapper {
	margin-top: 40px;
}
.price_block {
	width: 400px;
	margin: auto;

}


.pr_block1, .pr_block2 {
	display: inline-block;
}

.pr_block1 {

	font: 22px "Arsenal-Italic";
	color: #000;
	
	
	width: 78%;
	text-align: left;
}

.pr_block2 {

	font: bold 22px "Arsenal-Italic";
	color: #000;
	
	width: 20%;
	
}

#section6_contact {
	position: relative;
	margin-top: 57px;
}



/*................POpup3 для организаций  ................*/

#popup3 {
	width: 331px;
	height: 378px;
	background-color: rgba(29,25,22,.9);
	z-index: 0;
	margin-left: 794px;
	position: absolute;
	margin-top: 30px;
}

#popup3 h2 {
	font: 24px/25px "Arsenal-Regular", Arial !important; 
	margin-top: 22px;
	padding-top: 0px !important;
	margin-bottom: 20px;
	font-weight: 700;
	color: #fff;


}

#hover {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99998;
	display: none;
	cursor: pointer;


}

.form img {
	position: absolute;
	display: block;
	height: 400px;
	width: auto;
	margin: 26px -278px;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

/*................POpup  ................*/



#container6 {
	margin: 0px auto;
	width: 100%;
	max-width: 1113px;
	text-align: center;
	position: relative;
	height: 80%;
}


#form_bg {
	background: url(../img6_organization/bg4.jpg) fixed;
	position: relative;
	height: 550px;
}

#form_bg h1 {
	font: 30px "DejaVuSansCondensed-Bold", Arial, sans-serif;
	color: #fff;
	padding-top: 60px;
}


.contact_block1, .contact_block2, .contact_block3 h2  {
	font: 20px "DejaVuSansCondensed-Bold", Arial, sans-serif;
	color: #000;
}

.contact_block1, .contact_block2, .contact_block3 {
	display: inline-block;
	width: 33%;
}

.contact_block1 {
	text-align: left;
}


.contact_block3 {
	text-align: right;
}

.contact_wrapper h2 {
	margin-left: 55px;
}

.icon {
	height: 40px;
	display: block;
	position: absolute;
	margin-top: -10px;

}

.icon2 {
	height: 40px;
	display: block;
	position: absolute;
	margin-top: -10px;
	margin-left: 60px;

}

.icon2 img {
	height: 100%;
}


.icon img {
	height: 100%;
}

.icon3 {
	height: 30px;
	display: block;
	position: absolute;
	margin-top: -5px;
	margin-left: 140px;

}

.icon3 img {
	height: 100%;
}

.contact_wrapper {
	margin-top: 40px;
}



/*.....КОнцовкаю.....*/


.The_End {
	margin-top: 40px;
	height: 728px;
	background: url(../img/img_bg4.jpg) no-repeat center;

}

.container7 {
	margin: 0 auto;
	width: 100%;
	max-width: 1113px;
	height: 728px;
	text-align: center;
	position: relative;
}


.container7 h3 {
	font: 30px "Arsenal-BoldItalic";
	color: #053627;
	text-align: left;
	padding-bottom: 10px;
}

.container7 p {
	font: 17px/26px "Arsenal-Regular"; 
	color: #000000;
	text-align: left;
	padding-right: 40px; 
}

.container7 h1 {
	padding-top: 200px;
	font: 40px "DejaVuSansCondensed-Bold", Arial, sans-serif;
	color: #fff;
	padding-bottom: 32px;
	position: relative;
}


.btn3 {
	margin-top: -40px;
	padding: 3px 24px;
	display: inline-block;
	cursor: pointer;
	border: 2px solid #52ac62;
	text-decoration: none;
	font: book 18px "DejaVuSansBook";
	color: #52ac62;

}


.action2 a {
	font: 15px/24px  "DejaVuSansBook";
	color: #52ac62;
	text-decoration: none;

}



.btn3:hover {
	border: 2px solid #fff;
	color: #07523b;

	background: rgba(255,255,255,.9);
}

.phone_call {
	width: 290px;
	height: 50px;
	margin-left: 416px;
	margin-top: 40px;

}

.phone_call h3 {
	font: 25px "DejaVuSansCondensed-Bold", Arial, sans-serif;
	color: #fff;
	float: left;

}

.phone_call img {
	float: left;
	margin-right: 13px;
	margin-top: -5px;
}

.end_menu {
	width: 1095px;
	height: 80px;
	margin-left: 10px;
	margin-top: 124px;
}

.menu_block {
	width: 155px;
	height: 77px;
	border: 2px solid #fff;
	float: left; 
	margin-right: 64px;
	text-align: center;
	text-decoration: none;

}

.menu_block:hover {
	background: rgba(255,255,255,.3);

}


.menu_block p { 
	font: 18px  "DejaVuSansBook";
	color: #fff;
	padding: 14px 3px;
	text-align: center;
}

.kitchen {
	margin-top: 10px;
}


footer {
	height: 40px;
	text-align: center;
	width: 100%;


}

footer p {
	margin: 0 auto;
	position: relative;
	font: book 18px  "DejaVuSansBook";
	color: #2b2b2b;
	text-align: center;
	margin-top: 11px;
}


#adaptive_wrapper {
	display: none;
}
